/* CUSTOM PROPS */
:root{
  --body-color:#fff;
  --text-color:#22343D;
  --accent-color:#02897A;
  --toggle-color:#fff;
  --moon-bg:#ddd;
  --responsive-menu-bg:#ddd;
  --site-header-logo-link:#173A56;
  --site-header-logo:#173A56;
  --hero-img:
}

/* --light-bg:#E5E5E5;
--accent-color:#02897A;
--text-color-blue:#173A56; */

/* FONTS */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"),
  url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"),
  url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"),
  url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"),
  url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


/* GLOBAL */
html{
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}
*,
*::before,
*::after{
  box-sizing:inherit ;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-family:"Poppins","Arial",sans-serif;
  font-size: 16px;
  line-height: 28px;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .4s;
}

img{
  max-width: 100%;
  height: auto;
}

/* BUTTON */
.button{
  display: inline-block;
  text-decoration: none;
  text-align: center;
  background-color:var(--accent-color) ;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 25px;
  border: 0;
  text-transform: uppercase;
  color: #fff;
  font-weight:600;
  white-space: nowrap;
}

.button:hover{
  opacity: 0.8;
}

.button:active{
  opacity: 0.6;
}

.button--small{
  padding: 15px 40px;
  font-weight: 700;
}

.hero__auth-button {
  font-weight: 700;
  padding: 15px 41px;
}

.hero__auth-button--video{
  margin-left: 30px;
  border: 0;
  background-color: var(--body-color);
}


.dark-mode{
  --body-color:#1F2E35;
  --element-bg:#2B3844;
  --text-color:#fff;
  --toggle-color:#1F2E35;
  --responsive-menu-bg:#1F2E35;
  --logo-link:#BCD0E5;
  --moon-bg:#1F2E35;
  --site-header-logo:#fff;
}


/* CONTAINER */
.container{
  width: 100%;
  max-width: 1200px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content{
  flex-grow:1;
}


/* SITE-HEADER */
.site-header {
  padding-top: 28px;
  padding-bottom: 28px;
  background-color: var(--header-bg);
  line-height: 35px;
  display: flex;
  align-items: center;
}

.site-header__container {
  display: flex;
  align-items: center;
}

.site-header__logo {
  margin-right: 30px;
  flex: 1;
}

/* LOGO */
.logo {
  display: inline-block;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo:hover{
  opacity: 0.8;
}

.logo:active{
  opacity: 0.6;
}

.logo__img{
  width:  40px;
  height: 36px;
  display: block;
  margin-right: 16px;
  object-fit: contain;
}

.logo__text{
  text-decoration: none;
  color: var(--site-header-logo);
  font-size: 30px;
  font-weight: 700;
}

/* SITE-HEADER__SITENAV-WRAPPER */
.site-header__sitenav-wrapper{
  display: flex;
  align-items: center;
}

/* TOGGLER */
.site-header__sitenav-toggler{
  display: none;
  border: 0;
  padding: 0;
  background-color: var(--body-color);
  color: var(--text-color);
}


/* SITENAV */
.site-header__sitenav{
  display: flex;
  align-items: center;
}

.sitenav__list  {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 30px;
}

.sitenav__link {
  display: block;
  text-decoration: none;
  line-height: 30px;
  color: var(--text-color);
}

.sitenav__link:hover{
  opacity: 0.8;
}

.sitenav__link:active{
  opacity: 0.6;
}

.sitenav__link-active{
  font-weight: 700;
}

/* SITE-HEADER-AUTH */
.site-header__auth {
  display: flex;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
}

.site-header__login-link {
  margin-right: 24px;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid #BCD0E5;
  padding: 10px 25px;
  color: var(--text-color-blue);
  font-weight: 600;
}

.site-header__login-link:hover{
  opacity: 0.8;
}

.site-header__login-link:active{
  opacity: 0.6;
}

.site-header__togler-moon{
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: var(--toggle-color);
  border: 0;
}

/* HERO */
.hero {
  padding-top: 25px;
  padding-bottom: 115px;
  background-color: var(--body-color);
}

.hero__container {
  display: flex;
  justify-content: space-between;
}

.hero__info-wrapper {
  max-width: 500px;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 100px;
}

.hero__heading {
  margin-top: 0;
  margin-bottom: 18px;
  font-size: 40px;
  line-height: 60px;
  font-weight: 700;
}

.hero__text {
  margin-top: 0;
  margin-bottom: 45px;
  font-size: 18px;
}

.hero__auth {
  display: flex;
}


.hero__auth-button--inner {
  display: flex;
  align-items: center;
}

.hero__auth-button--img {
  margin-right: 10px;
  cursor: pointer;
}

.hero__auth-button--text {
  font-weight: 600;
  text-decoration-line:underline;
  color: var(--accent-color);
}

/* INDEX-FEATURES */
.index-features{
  padding-bottom: 90px;
}

.index-features__top{
  width: 539px;
  margin: auto;
  text-align: center;
  margin-bottom: 55px;
}

.index-features__title{
font-size: 32px;
line-height: normal;
color: var(--text-color);
font-weight: 700;
}


.index-features__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 50px;
}

.index-features__item{
width: 240px;
}

.index-features__item:not(:last-child){
  margin-right: 46px;
  margin-bottom: 30px;
}

.index-features__icon-wrapper{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color:rgb(2, 137, 122,0.8);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);;
}

.index-feature__title{
  margin-top: 0;
  margin-bottom: 13px;
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
}

.index-features__icon-wrapper--surveys{
  background-color: rgb(77, 141, 255,0.8);
}

.index-features__icon-wrapper--hard{
  background-color: rgb(116, 10, 118,0.8);
}

.index-features__icon-wrapper--second{
  background-color: rgb(240, 62, 61);
}

.index-features__button-wrapper{
  display: flex;
  justify-content: center;
}

.index-feature__img{
  display: block;
}


/* MANAGMENT */
.managment {
  padding-top: 153px;

}
.managment__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* MANAGMENT-CONTENT */
.managment__content{
  width: 486px;
}


.managment__contenet-top {
  margin-bottom: 110px;

}
.managment__content-top--heading {
  line-height: normal;
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 600;
}
.managment__content-top--text {
  font-size: 32px;
  margin-top: 0;
  font-weight:700;
  line-height: normal;
}

.managment__content-bottom--text {
  margin-bottom:0;
}

.managment-img{
  width: 540px;
  height: 475px;
}


/* CUTOMER */
.customer {
  padding-top: 140px;
  margin-bottom: 150px;
}

.customer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* CUSTOMER-CONTENT */
.customer__content {
  width: 486px;
}

.customer__content--deck {
  line-height: normal;
  font-weight: 600;
  margin-bottom: 8px;
}
.customer__content--heading {
 font-size: 32px;
 font-weight: 700;
 line-height: normal;
 margin-top: 0;
 margin-bottom: 23px;
}

.customer__info {
  display: flex;
  flex-direction: column;
}
.customer__info--wrapper {
  display: flex;
  align-items: center;
}
.cusomer__info-img--wrapper {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  border-radius: 13px;
  justify-content: center;
  background-color: rgba(255, 0, 0, 0.333);
  margin-right: 30px;
}

.cusomer__info-img--wrapper--yellow{
  background-color: #FF9900;
}

.cusomer__info-img--wrapper--red{
  background-color: #F03E3D;;
}

.cusomer__info-img--wrapper--blue{
  background-color: #4D8DFF;
}

.cutomer__info-img {
 width: 16px;
 height: 12px;

}





/* MEDIA */
@media only screen and (max-width:990px) {
  .site-header{
    position: relative;
    z-index: 1;
  }
  .site-header__sitenav-toggler{
    display: block;
    display: flex;
  }
  .fa-bars{
    font-size: 25px;
  }
  
  .site-header__sitenav{
    margin-bottom: 20px;
  }
  
  .site-header__sitenav-wrapper{
    display: none;
  }
  
  .site-header--open .site-header__sitenav-wrapper{
    display: block;
    position: absolute;
    z-index: 1;
    background-color: var(--responsive-menu-bg);
    top: 100%;
    left: 0;
    padding: 20px;
    width: 100%;
  }
  .sitenav__list{
    flex-direction: column;    
    text-align: center;
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .sitenav__item:not(:last-child){
    margin-bottom: 15px;
    margin-left: 20px;
  }
  
  /* SITE-HEADER-AUTH */
  .site-header__auth{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .site-header__login-link{
    margin-left: 20px;
    margin-bottom: 20px;
    border: 1px solid var(--text-color);
    
  }
  .site-header__togler-moon{
    margin: auto;
    background-color: var(--moon-bg);
  }
}